<p>Grupos de conceptos</p>
<div style="position: relative;" class="speeddial-linear-demo">
     <!-- *** BOTON NUEVO ****** -->    
     <div class="float">
         <p-speedDial 
               className="p-button-sm" [radius]="120" 
               type="quarter-circle" 
               [rotateAnimation]="false" 
               buttonClassName="p-button-success"
               direction="up-left" 
          >        
         </p-speedDial>
     </div>

     <p-table 
          styleClass="p-datatable-sm p-datatable-striped "
        >     
        <!-- #tabla [value]="marcas" 
        [loading]="isLoading" 
        class="tablita"    
        responsiveLayout="scroll"    
        styleClass="p-datatable-sm p-datatable-striped "
        (sortFunction)="customSort($event)" 
        [customSort]="true"
        [globalFilterFields]="['codmarca','nomb']"
        selectionMode="single" 
        [(selection)]="selMarca" 
        dataKey="codmarca" 
        (onRowSelect)="onRowSelect($event)" -->
    </p-table>

 </div>
 
 