<div class="layout-wrapper" [ngClass]="{'layout-overlay':isOverlay(), 
                                        'layout-static':isStatic(),
                                        'layout-overlay-sidebar-active': overlayMenuActive,
                                        'layout-static-sidebar-inactive': staticMenuInactive,
                                        'layout-mobile-sidebar-active':menuActiveMobile}">
    <p-toolbar class="barra layout-topbar">
        <div class="p-toolbar-group-left">
            <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-text p-button-base"
                (click)="toggleMenu($event)"></button>
            <span class="font-bold ml-2 text-lg animate-character">CESLYSOFT</span>
        </div>

        <div class="p-toolbar-group-right">
            <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-text"></button>

        </div>
    </p-toolbar>

    <div class="layout-sidebar">
        <p-panelMenu [model]="items" class="menulat"></p-panelMenu>
    </div>

    <div class="layout-main-container">
        <div class="layout-main">            
            <h1>Hola</h1>            
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>