.fechas ::ng-deep .p-datepicker table{    
    font-size: .80rem;
}

.fechas ::ng-deep .p-datepicker table td > span{    
    width: 1.9rem;
}

.fechas ::ng-deep .p-datepicker table td{    
    padding:.1rem
}

.fechas ::ng-deep .p-datepicker .p-link{    
   font-size: .85rem;   
}

.fechas ::ng-deep .p-datepicker .pi{    
   font-size: .85rem;   
}

.fechas ::ng-deep .p-datepicker .p-datepicker-header{
    padding: 0.1rem;
}

.fechas ::ng-deep .p-calendar .p-inputtext {
    width: 100%;
}

.fechas ::ng-deep .p-sidebar .p-sidebar-header{
    padding: 0;
}

.fechas ::ng-deep  .p-sidebar-content{
    padding: 0;
}

.fechas ::ng-deep .p-panel .p-panel-header{
    background-color: var(--primary-color);
    color: var(--primary-color-text);    
}

.tablita ::ng-deep .p-datatable .p-paginator-bottom{    
    font-size: .85rem;
}

.tablita ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even){
    background-color: var(--blue-50);
}

.tablita ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight{
    background-color: var(--primary-color);
}