/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css"; 
@import "./layout.css"; 

:root {
    --transition-duration: .2s;
    --border-radius: 12px;
}

html, body{
    background-color: #edf1f5;
    font-family: var(--font-family);    
}

body{
    margin: 0;
}
.float{
    position:fixed;
    bottom:4rem;
    z-index: 2;
    right: 8rem;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}